<h1><center>Welcome to Barber shop!</center></h1>
<center>We are open</center>

<form action="/" method="POST">
	<p>
		<h3>Name:</h3>
		<input type="text" name="username" />
	</p>
		<p>
			<h3>Phone:</h3>
			<input type="text" name="phone" />
		</p>
			<p>
				<h3>DateTime:</h3>
				<input type="text" name="datetime" />
			</p>
				<p>
					<input type="submit" />
				</p>
</form>

