<h1><center>Registration</center></h1>
<hr>

<p>Login: <%= @login %></p>
<p>Password: <%= @password %></p>
<hr>

<form action="/" method="POST">
	<p>
		<h3>Login</h3>
		<input type="text" name="login" />
	</p>
	<p>
		<h3>Password</h3>
		<input type="password" name="password" />
	</p>
	<p>
		<input type="submit" />
	</p>
</form>